@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --black : #101010;
    --darkGray: #191919;
    --lightWhite: #e2e2e2;
    --orange: #ca3c08af;
}
* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
section{
    background: #ebebeb;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
   
html {
    scroll-behavior: smooth;
}

.container h2{
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--black);
    text-align: left;
    margin-bottom: 20px;

}

.apresentacao {
    position: relative; /* Define a posição relativa para a seção */
    z-index: 0;
}

.apresentacao h1 {
    position: absolute; /* Define a posição absoluta para o título */
    top: 20%; 
    left: 50%; 
    transform: translateX(8%); 
    color: #fff; 
    padding: 10px 20px; 
    margin: 0; 
    font-family: 'poppins', sans-serif;
    font-size: 60px;
}

.cor {
    background-color: var(--black);
    background-size: cover;
    background-repeat: no-repeat;
 }

 .cor2{
    background-color: var(--darkGray);
 }

 .apresentacao img{
    width: 100%;
    height: 550px;
    object-fit: cover;
    z-index: -1;
   
 }
/* Carrosel */
 .carrossel {
    width: 100%; /* Garante que a seção ocupe toda a largura da tela */
    padding: 20px; /* Adiciona espaçamento interno */
    box-sizing: border-box; /* Inclui padding e bordas no cálculo da largura */
    z-index: 1;
}

.carrossel .container {
    max-width: 1200px; /* Limita a largura do conteúdo */
    margin: 0 auto; /* Centraliza o container na tela */
}

.slider-wrapper {
    position: relative;
}



.container{
    max-width: 1200px;
    width: 95%;

}

.slider-wrapper {
    position: relative;
}
.slider-wrapper .slide-button{
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #141414;
    color: #fff;
    font-size: 2.2rem;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

.slider-wrapper .slide-button:hover{
    background-color: #444;
   
}

.slider-wrapper .slide-button#prev-slide{
   left:-20px;
   display: none;
}

.slider-wrapper .slide-button#next-slide{
    right: -20px;
}

.slider-wrapper .image-list{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap:10px;
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    margin-bottom: 30px;

}
.slider-wrapper .image-list::-webkit-scrollbar{
    display: none;
}

.slider-wrapper .image-list .image-item{
    width: 325px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.container .slider-scrollbar{
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track{
    height: 2px;
    width: 100%;
    background: #fff;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track{
    height: 3px;
}

.slider-scrollbar .scrollbar-thumb{
    position: absolute;
    height: 100%;
    width: 30%;
    background: #141414;
    cursor: pointer;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar .scrollbar-thumb:active{
    cursor: grabbing;
    height: 8px;
    top: -2px;

}

.slider-scrollbar .scrollbar-thumb:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

/* produtos */
.produto-carrossel .slider-wrapper .image-list .image-item{
    width: auto;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}



footer{
    background-color: var(--black);
    color: var(--lightWhite);
    padding: 20px;
    text-align: center;
    height: 100px;

}
footer a{
    color: var(--lightWhite);
    text-decoration: none;
}



/* Animacoes*/

[data-anima]{
    opacity: 0;
    transition: .8s;
}

[data-anima="esquerda"]{
     transform: translate3d(-50px,0,0 );/*X Y Z*/
}

[data-anima="direita"]{
    transform: translate3d(50,0,0);
}

[data-anima="centro"]{
    transform: translate3d(0,50px,0);
}

[data-anima].animacao{
    opacity: 1;
    transform: translate3d(0,0,0);
}

.calculator {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}   

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}

button {
    background-color: #ca3c08af;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #dd460faf;
}

#result {
    font-weight: bold;
}
/* responsividade */

@media (max-width: 360px){
    .apresentacao h1{
        position: absolute; /* Define a posição absoluta para o título */
        top: 8%; 
        left: 50%; 
        font-size: 25px;
        align-items: center;
        margin-right: 50%;
        margin-top: 0;
    }

    .container h2{
        font-size: 25px;
    }

    .apresentacao img{
        height: 150px;
        
    }

    .slider-wrapper .image-list .image-item{
        width: 280px;
        height: 200px;
    }

    .slider-scrollbar .scrollbar-thumb{
        width: 20%;
    }

    .produto-carrossel .slider-wrapper .image-list .image-item{
        width: 200px;
        height: 300px;
    }

    .slider-wrapper .slide-button{
        display: none!important;

    }

    .slider-wrapper .image-list{
        gap: 10px;
        margin-bottom: 15px;
    } .slider-scrollbar .scrollbar-thumb{
        width: 20%;
    }

    .produto-carrossel .slider-wrapper .image-list .image-item{
        width: 200px;
        height: 250px;
    }

    .calculator h1{
        font-size: 25px;
        margin-bottom: 0.5em;
    }

}

@media (min-width: 361px) and (max-width: 767px){
    .apresentacao h1{
        position: absolute; /* Define a posição absoluta para o título */
        top: 15%; 
        left: 40%; 
        font-size: 40px;
        align-items: center;
        margin-right: 50%;
        margin-top: 0;
    }

    .container h2{
        font-size: 25px;
    }

    .apresentacao img{
        height: 350px;
        
    }

    .slider-wrapper .image-list .image-item{
        width: 280px;
        height: 200px;
    }

    .slider-scrollbar .scrollbar-thumb{
        width: 20%;
    }

    .produto-carrossel .slider-wrapper .image-list .image-item{
        width: 200px;
        height: 300px;
    }

    .slider-wrapper .slide-button{
        display: none!important;

    }

    .slider-wrapper .image-list{
        gap: 10px;
        margin-bottom: 15px;
    } .slider-scrollbar .scrollbar-thumb{
        width: 20%;
    }

    .produto-carrossel .slider-wrapper .image-list .image-item{
        width: 200px;
        height: 250px;
    }

    .calculator h1{
        font-size: 25px;
        margin-bottom: 0.5em;
    }
    
}


@media (min-width: 768px) {

    .slider-wrapper .slide-button{
        display: none!important;

    }

    .slider-wrapper .image-list{
        gap: 10px;
        margin-bottom: 15px;
    }

    .slider-wrapper .image-list .image-item{
        width: 280px;
        height: 380px;
    }

   
}